<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <i class="pi pi-wallet logo-icon"></i>
    </div>
  </div>
  
  <div class="nav-menu">
    <p-menu 
      [model]="navItems()" 
      [popup]="false"
    >
      <ng-template #start>
        <p-select [options]="selectYearItem()" optionLabel="year" placeholder="Select a Year"></p-select>
      </ng-template>
      <ng-template #item let-item>
        <a pRipple
          class="nav-link p-menu-item-link" 
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          (click)="item.command && item.command()"
        >
          <i [class]="item.icon"></i>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </ng-template>
    </p-menu>
  </div>
  
  <div class="sidebar-footer">
    <p-menu 
      [model]="profileItem()" 
      [popup]="false"
    >
      <ng-template #item let-item>
        <a 
          class="profile-link p-menu-item-link" 
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          (click)="item.command && item.command()"
        >
          <i [class]="item.icon"></i>
          <span class="profile-label">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #end >
        <p-button icon="pi pi-lightbulb" label="Toggle" (onClick)="toggleDarkMode()">
        </p-button>
        
      </ng-template>
    </p-menu>
  </div>
</div>
