<div class="dashboard-container">
  <div class="dashboard-title">
    <h1>Expenses Summary</h1>
  </div>

  <section class="dashboard-content">
    <p-table [value]="monthlyExpenses">
      <ng-template #header>
        <tr>
          <th>-</th>
          <th>House</th>
          <th>Food</th>
          <th>Groceries</th>
          <th>Health</th>
          <th>Leisure</th>
          <th>Shop</th>
          <th>Donations</th>
          <th>Transport</th>
          <th>Education</th>
          <th>TaxAndTributes</th>
          <th>Investments</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template #body let-expense>
        <tr>
          <td>{{ expense.month }}</td>
          <td>R$ {{ expense.houseTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.foodTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.groceriesTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.healthTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.leisureTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.shopTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.donationsTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.transportTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.educationTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.taxAndTributesTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.investmentsTotal | number : "1.2-2" }}</td>
          <td>R$ {{ expense.totalMonth | number : "1.2-2" }}</td>
        </tr>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td>Averages</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
        </tr>
        <tr>
          <td>Totals</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
          <td>R$ 0.00</td>
        </tr>
      </ng-template>
    </p-table>
  </section>

  <h1 class="dashboard-title">Incomes Summary</h1>
  <section class="dashboard-content">
    <p-table [value]="monthlyIncomes">
      <ng-template #header>
        <tr>
          <th>-</th>
          <th>Salary</th>
          <th>Benefits</th>
          <th>Tax Returns</th>
          <th>Bonus</th>
          <th>Paid Vacation</th>
          <th>Others</th>
        </tr>
      </ng-template>
      <ng-template #body let-income>
        <tr>
          <td>{{ income.month }}</td>
          <td>R$ {{ income.salaryTotal | number : "1.2-2" }}</td>
          <td>R$ {{ income.benefitsTotal | number : "1.2-2" }}</td>
          <td>R$ {{ income.taxReturnsTotal | number : "1.2-2" }}</td>
          <td>R$ {{ income.bonusTotal | number : "1.2-2" }}</td>
          <td>R$ {{ income.paidVacationTotal | number : "1.2-2" }}</td>
          <td>R$ {{ income.othersTotal | number : "1.2-2" }}</td>
        </tr>
      </ng-template>
      <ng-template #footer></ng-template>
    </p-table>
  </section>
</div>
