<div class="dashboard-container">
  <div class="dashboard-title">
    <h1>
      Expenses Summary
      <span class="year-display">{{ yearService.selectedYearText() }}</span>
    </h1>
  </div>

  @if (isLoading()) {
    <div class="loading-container">
      <p-progressSpinner />
    </div>
  } @else if (!isLoading() && monthlyExpenses().length === 0) {
    <div class="empty-state">
      <p>No expense data available for this year.</p>
    </div>
  } @else {
    <section class="dashboard-content">
      <p-table [value]="monthlyExpenses()">
        <ng-template #header>
          <tr [style.font-weight]="'bold'">
            <th>-</th>
            <th
              [style.background-color]="colors[Category.House].color"
              [style.color]="'white'"
            >
              House
            </th>
            <th
              [style.background-color]="colors[Category.Food].color"
              [style.color]="'white'"
            >
              Food
            </th>
            <th
              [style.background-color]="
                colors[Category.Groceries].color
              "
              [style.color]="'white'"
            >
              Groceries
            </th>
            <th
              [style.background-color]="colors[Category.Health].color"
              [style.color]="'white'"
            >
              Health
            </th>
            <th
              [style.background-color]="colors[Category.Leisure].color"
              [style.color]="'white'"
            >
              Leisure
            </th>
            <th
              [style.background-color]="colors[Category.Shop].color"
              [style.color]="'white'"
            >
              Shop
            </th>
            <th
              [style.background-color]="
                colors[Category.Donations].color
              "
              [style.color]="'white'"
            >
              Donations
            </th>
            <th
              [style.background-color]="
                colors[Category.Transport].color
              "
              [style.color]="'white'"
            >
              Transport
            </th>
            <th
              [style.background-color]="
                colors[Category.Education].color
              "
              [style.color]="'white'"
            >
              Education
            </th>
            <th
              [style.background-color]="
                colors[Category.TaxAndTributes].color
              "
              [style.color]="'white'"
            >
              TaxAndTributes
            </th>
            <th>Total</th>
            <th
              [style.background-color]="
                colors[Category.Investments].color
              "
              [style.color]="'white'"
            >
              Investments
            </th>
            <th
              [style.background-color]="
                colors[Category.Vacation].color
              "
              [style.color]="'white'"
            >
              Vacation
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-expense>
          <tr [style.font-weight]="'bold'">
            <td>{{ expense.month }}</td>
            <td
              [style.background-color]="colors[Category.House].color"
              [style.color]="'white'"
            >
              R$ {{ expense.houseTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="colors[Category.Food].color"
              [style.color]="'white'"
            >
              R$ {{ expense.foodTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="
                colors[Category.Groceries].color
              "
              [style.color]="'white'"
            >
              R$ {{ expense.groceriesTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="colors[Category.Health].color"
              [style.color]="'white'"
            >
              R$ {{ expense.healthTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="colors[Category.Leisure].color"
              [style.color]="'white'"
            >
              R$ {{ expense.leisureTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="colors[Category.Shop].color"
              [style.color]="'white'"
            >
              R$ {{ expense.shopTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="
                colors[Category.Donations].color
              "
              [style.color]="'white'"
            >
              R$ {{ expense.donationsTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="
                colors[Category.Transport].color
              "
              [style.color]="'white'"
            >
              R$ {{ expense.transportTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="
                colors[Category.Education].color
              "
              [style.color]="'white'"
            >
              R$ {{ expense.educationTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="
                colors[Category.TaxAndTributes].color
              "
              [style.color]="'white'"
            >
              R$ {{ expense.taxAndTributesTotal | number: "1.2-2" }}
            </td>
            <td>R$ {{ expense.totalMonth | number: "1.2-2" }}</td>
            <td
              [style.background-color]="
                colors[Category.Investments].color
              "
              [style.color]="'white'"
            >
              R$ {{ expense.investmentsTotal | number: "1.2-2" }}
            </td>
            <td
              [style.background-color]="
                colors[Category.Vacation].color
              "
              [style.color]="'white'"
            >
              R$ {{ expense.vacationTotal | number: "1.2-2" }}
            </td>
          </tr>
        </ng-template>
        <ng-template #footer>
          @if (averages()) {
            <tr [style.font-weight]="'bold'" [style.font-size.rem]="'1.1'">
              <td>Averages</td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.House].color, 1)
                "
              >
                R$ {{ averages()!.houseTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Food].color, 1)
                "
              >
                R$ {{ averages()!.foodTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Groceries].color, 1)
                "
              >
                R$ {{ averages()!.groceriesTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Health].color, 1)
                "
              >
                R$ {{ averages()!.healthTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Leisure].color, 1)
                "
              >
                R$ {{ averages()!.leisureTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Shop].color, 1)
                "
              >
                R$ {{ averages()!.shopTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Donations].color, 1)
                "
              >
                R$ {{ averages()!.donationsTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Transport].color, 1)
                "
              >
                R$ {{ averages()!.transportTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Education].color, 1)
                "
              >
                R$ {{ averages()!.educationTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.TaxAndTributes].color, 1)
                "
              >
                R$ {{ averages()!.taxAndTributesTotal | number: "1.2-2" }}
              </td>
              <td>R$ {{ averages()!.totalMonth | number: "1.2-2" }}</td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Investments].color, 1)
                "
              >
                R$ {{ averages()!.investmentsTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Vacation].color, 1)
                "
              >
                R$ {{ averages()!.vacationTotal | number: "1.2-2" }}
              </td>
            </tr>
          }
          @if (totals()) {
            <tr [style.font-weight]="'bold'" [style.font-size.rem]="'1.1'">
              <td>Totals</td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.House].color, 1)
                "
              >
                R$ {{ totals()!.houseTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Food].color, 1)
                "
              >
                R$ {{ totals()!.foodTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Groceries].color, 1)
                "
              >
                R$ {{ totals()!.groceriesTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Health].color, 1)
                "
              >
                R$ {{ totals()!.healthTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Leisure].color, 1)
                "
              >
                R$ {{ totals()!.leisureTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Shop].color, 1)
                "
              >
                R$ {{ totals()!.shopTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Donations].color, 1)
                "
              >
                R$ {{ totals()!.donationsTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Transport].color, 1)
                "
              >
                R$ {{ totals()!.transportTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Education].color, 1)
                "
              >
                R$ {{ totals()!.educationTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.TaxAndTributes].color, 1)
                "
              >
                R$ {{ totals()!.taxAndTributesTotal | number: "1.2-2" }}
              </td>
              <td>R$ {{ totals()!.totalMonth | number: "1.2-2" }}</td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Investments].color, 1)
                "
              >
                R$ {{ totals()!.investmentsTotal | number: "1.2-2" }}
              </td>
              <td
                [style.color]="
                  hexToRgba(colors[Category.Vacation].color, 1)
                "
              >
                R$ {{ totals()!.vacationTotal | number: "1.2-2" }}
              </td>
            </tr>
          }
        </ng-template>
      </p-table>
    </section>
  }
</div>
